a {
  text-decoration:none;
  color:#FFF;
}
.form-heading{
  text-align: center;
}
.preview{
  width: 200px;
}
#logo{
  margin:200px;
  height: 300px;
  width:550px;
}
input{
  width: 95%;
}
img{
  width:200%;
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
