a {
  text-decoration:none;
  color:#FFF;
}
h4{
  text-align: center;
}
li{
  color: red;
}
h2{
  text-align: center;
}
.preview{
  width: 200px;
}
#logo{
    margin:200px;
    height: 300px;
    width:550px;

img{
    width:200%;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
