@import url('https://fonts.googleapis.com/css?family=Pacifico');

$teal:#009688;
@mixin smoothtransition{
  transition: all 1s linear;
}



body{
  background-image:url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-193961.jpg");
  background-attachment:fixed;
  background-position:center;
  @include smoothtransition;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
}

.logo{
  height:30px;
  margin:10px;
  margin-left:10px;
  margin-right:auto;
}
#header{
  background-color:$teal;
  opacity:0.9;
  font-size: 20px;
}

.card{
  transition: all 1s linear;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $teal;
  color: white;
  font-family:Pacifico;
  font-size:1.7em;
  padding: 20px;
  max-width:750px;
  box-shadow: 0 0 10px 0px black;
  transition: all 0.5s ease;
  width:85%;
  height:65px;
  border-radius:5px;
  border-bottom: 6px solid #004d40;
  opacity:0.9;
  &:hover{transform:scale(1.05)}
}

.flexbox{
  display:flex;
}
$circledia:50px;
.img-circle{
  height:$circledia;
  width:$circledia;
  margin-right:10px;
}
.picname{
  width:300px;
}
a{text-decoration:none;color:white; transition:all 0.5s linear;}
a:hover{color:#ccc; text-decoration:none;}
.header{
  display:flex;
  justify-content:center;
  flex-direction:column;  
  align-items:center;
  font-family:Pacifico;
  font-size:1.8em;
  color:white;
}

.head{
  & img{visibility:hidden;}
}
.label{
  font-size:0.7em;
  font-weight:normal;
}
.footer{
	margin-top:50px;
	padding:20px;
	font-size:1.2em;
}